<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de login da barbearia Estilo do Rei">
    <title>Login - Estilo do Rei</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Estilo do Rei</h1>
        <form method="POST" action="/autenticar">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            <button type="submit">Entrar</button>

        </form>

        <br>
        <a href="/cadastrarCliente" class="cadastro-link">Cadastre-se</a>
    </div>
</body>
</html>
